<div fxLayout="column" fxFlexFill class="aboutme-container">
  <div class="fixed-content">
    <h2>André <strong>Lelis</strong> Gonçalves</h2>
  </div>
  <div fxFlex="grow" class="scrollabe-content">
    <div class="section">
      <!--Image Transition Scroll-->
    </div>
    <div class="section">
      <!--Image Transition Scroll-->
    </div>
    <div class="section text">
      <h3>Developer for passion</h3>
      <p><strong>{{xpYears}} years</strong> (and counting) developing all kinds of web applications has tought me that,
        despite of all
        achieved titles such as Backend Developer, Front End Developer, Senior System Analyst and so on, all I want to
        do is
        build some cool stuff.</p>
    </div>
    <div class="section text">
      <h3>My Family</h3>
      <p>Since this is some section about me, my family must be present, they are the most important people in my
        life. :)</p>
    </div>
    <div class="section text">
      <h3>Hobbies</h3>
      <p>Games (play and develop), Cycle and Play with my kids is all what I like to do at most of time. </p>
    </div>
    <div class="section text">
      <h3>My Dreams</h3>
      <p>Well... Having two kids, your dreams quite change a little bit, but as far as try to keep them safe, I also intent to publish my indie game if I manage to finish it.</p>
    </div>
    <div class="image-mask" appImageScroller>
      <div class="image-transition background-1"></div>
      <div class="image-transition background-2"></div>
    </div>
  </div>
</div>
