.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
  }

.logo-image{
	width: 50%;
    height: 100px;
	background-image: url("../../../assets/next.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    clip-path: circle(42px at center);
	margin-top: 26px;
}
.mat-icon{
	margin-right:10px
}
