<div fxLayout="column" fxFlexFill class="skills-container">
	<p>"Somewhere, Something Incredible Is Waiting To Be Known" - Carl Sagan</p>

	<h3>Front-End</h3>
	<div class="skill"><div class="skill-icon html5">HTML</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon css3">CSS3</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon javascript">Javascript</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon angular">Angular</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon angularjs">AngularJS</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon jquery">JQuery</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon flash">Flash</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon unity">Unity3D</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon react">React</div><div class="skill-level-container"><skill-level-bar level=2></skill-level-bar></div></div>

	<h3>Mobile</h3>
	<div class="skill"><div class="skill-icon cordova">Apache Cordova</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon ionic">Ionic Framework</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon react">React Native</div><div class="skill-level-container"><skill-level-bar level=2></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon android">Android Native (Kotlin, Java)</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon apple">IOS (Objective C)</div><div class="skill-level-container"><skill-level-bar level=2></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon windows-phone">Windows Phone (Xamarin)</div><div class="skill-level-container"><skill-level-bar level=2></skill-level-bar></div></div>

	<h3>Back-End</h3>
	<div class="skill"><div class="skill-icon csharp">C#</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon dotnet">.Net Framework</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon php">PHP</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon python">Python</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon node">NodeJS</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>

	<h3>Databases</h3>
	<div class="skill"><div class="skill-icon sqlite">SQLite</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon sqlserver">SQL Server</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon postgresql">Postgre SQL</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon mysql">MySQL</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon oracle">Oracle</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon firebird">Firebird</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon mongodb">MongoDB</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>

	<h3>Pre-processors and Package Managers</h3>
	<div class="skill"><div class="skill-icon webpack">Webpack</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon npm">NPM</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon bower">Bower</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon gulp">Gulp</div><div class="skill-level-container"><skill-level-bar level=4></skill-level-bar></div></div>

	<h3>Devops</h3>
	<div class="skill"><div class="skill-icon docker">Docker</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>
	<div class="skill"><div class="skill-icon jenkins">Jenkins</div><div class="skill-level-container"><skill-level-bar level=3></skill-level-bar></div></div>

</div>
