<div fxLayout="column" fxFlexFill class="lab-container">
  <p>The projects listed here are for experimental use, you may clone them to view source code but please do not
    distribute it.</p>
  <p>This section intent to grow as soon as I get time to update it.</p>
  <div class="section text">
    <div class="work-title">
      <h3>Portifolio</h3>
    </div>
    <a class="work-image" href="#" routerLink="/"><img src="../../assets/portfolio.png" /></a>
    <p class="main-description">This site. Gave me plenty of work during a weekend :)</p>
    <a href="https://github.com/lelis718/portifolio" target="_blank">GitHub</a>
  </div>
  <div class="section text">
    <div class="work-title">
      <h3>React Space Shooter</h3>
    </div>
    <a class="work-image" href="http://react-shooter.lelis718.com.br" target="_blank"><img
        src="../../assets/react-shooter.png" /></a>
    <p class="main-description">A Space Shooter game made entirely using React :)</p>
    <a href="https://github.com/lelis718/react-shooter" target="_blank">GitHub</a>
  </div>
  <div class="section text">
    <div class="work-title">
      <h3>Estradas do Medo - (Scary Roads)</h3>
    </div>
    <a class="work-image" href="http://react-shooter.lelis718.com.br" target="_blank"><img
        src="../../assets/scary-streets.png" /></a>
    <p class="main-description">A little game designed and produced in a week for a GameJam. :)</p>
    <a href="https://github.com/lelis718/TerrorStreets" target="_blank">GitHub</a><br />
    <a href="https://gamejolt.com/games/estradas-do-medo/451742" target="_blank">Published Version</a>
  </div>

</div>
